/* CSS declarations go here */

body {
  font-size: 16px;
}

li {
  margin-bottom: 10px;
}

div.source-body {
  background-color: #eee;
  overflow-x: auto;
  overflow-y: auto;
  margin-bottom: 20px;
}

div.source-line i {
  opacity: 0.2;
  cursor: pointer;
}
div.source-line i:hover {
  opacity: 1.0;
}

span.add-comment {
  text-align: right;
  width: 4em;
  display: inline-block;
  background-color: #999;
  color: #0088CC;
}
