/* CSS declarations go here */

body {
  font-size: 16px;
}

li {
  margin-bottom: 10px;
}

td {
	font-size: 14;
	font-family: Courier;
}
pre {
	font-size: 14;
	font-family: Courier;
}

div#contents {
  position: relative;
  z-index: 100;
}

div#canvas {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

canvas#bitmap {
}

.abs {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 14;
	font-family: Courier;
  z-index: 10001;
}

div.source-body {
  overflow-x: auto;
  overflow-y: auto;
  margin-bottom: 20px;
  z-index: 10000;
}

div.source-line i {
  opacity: 0.2;
  cursor: pointer;
}
div.source-line i:hover {
  opacity: 1.0;
}

.source-list li.selected {
  background-color: #D3D3D3;
}

.source-list li a.btn-danger {
  float: right;
}

span.add-comment {
  text-align: right;
  width: 4em;
  display: inline-block;
  background-color: #999;
  color: #0088CC;
}
